language: java
jdk:
  - openjdk8

branches:
  only:
    - master

# Travis CI 서버의 Cache 활성화
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

before_install:
  - chmod +x gradlew

# clean 후 Build (Build시 자동으로 test 수행)
script: "./gradlew clean build"

# 빌드 성공 후 커버리지 측정 및 리포트
after_success:
- ./gradlew coveralls