<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.nipa.mgps.persistence.SatImageMapper">
    <select id="getListSatImageTotalCount" parameterType="satImageSearch" resultType="long">
        /* getListSatImageTotalCount */
        SELECT COUNT(fid) 
        FROM timeseries
        WHERE type = #{type}
            AND daterange(to_date(#{sdate}, 'YYYY-MM-DD'), to_date(#{edate}, 'YYYY-MM-DD')) @> to_timestamp(acquisition,'YYYYMMDDhh24miss')::date
            AND ST_INTERSECTS(the_geom, ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4326))
    </select>
    <select id="getListSatImage" parameterType="satImageSearch" resultType="satImage">
        /* getListSatImage */
        SELECT fid, type, sat_id, sat, sensor, acquisition, thumbnail, img, ST_AsGeoJSON(bbox) as bbox, ST_AsGeoJSON(footprint) as footprint
        FROM timeseries
        WHERE type = #{type}
            AND daterange(to_date(#{sdate}, 'YYYY-MM-DD'), to_date(#{edate}, 'YYYY-MM-DD')) @> to_timestamp(acquisition,'YYYYMMDDhh24miss')::date
            AND ST_INTERSECTS(footprint, ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4326))
        ORDER BY acquisition ASC
        OFFSET #{offset} LIMIT #{limit}
    </select>
    <select id="getSatImageById" parameterType="long" resultType="satImage">
        /* getSatImageById */
        SELECT fid, type, sat_id, sat, sensor, acquisition, thumbnail, img, ST_AsGeoJSON(bbox) as bbox, ST_AsGeoJSON(footprint) as footprint
        FROM timeseries
        WHERE fid = #{id}
    </select>
</mapper>